@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans+Condensed:wght@300&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

body{
    background-color: #141414;
    color: #f5f5f5;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-left: 39px;
}

.top-left{
    height: 98px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

main{
    margin: 98px;
}

.qes{
    font-family: 'Inter', sans-serif;
    padding-top: 32px;
    text-align: center;
    font-size: 48px;
    color: #fefefe;
}

.profile{
    padding-left: 50px;
}

.content-img{
    border-style: solid;
    border-color: #141414;
    border-radius: 8px;
    cursor: pointer;
}

.content-img:hover{
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.name-profile {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #7f7f7f;
    font-weight: 900;
    font-size: 13pt;
    padding-top: 6px;
}

.name-profile:hover{
    color: #fff;
}

.content-botao{ 
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin: -90px; 
    left: 50%;
    top: 8px;
    color: #7f7f7f;
    background-color: transparent;
    border-width: 0.9px;
    width: 220px;
    height: 40px;
    font-size: 14pt;
    letter-spacing: 4px;
    font-weight: 1000;
    cursor: pointer;
}

.content-botao:hover{
    color: #fefefe;
    border-color: #fefefe;
}

#out{
    width: 100px;
    height: 40px;
    background-color: #141414;
    border-color: white;
    color: #7f7f7f;
    position: relative;
    left: 1400px;
}

#out:hover{
    color: #fefefe;
    border-color: #fefefe;
}