* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#002333;
    color: white;
    font-family: 'Helvetica', sans-serif;
  }
  
  
  
  .top-left {
    float: left;
  }
  
  #logo {
    width: 333px;
    height: 200px;
    position: absolute;
    top: 1px;
    left: 50px;
    z-index: 10;
  }
  
  .top-right {
    float: left;
    margin-left: 900px;
    margin-top: 50px;
    position: absolute;
    top: 15px;
    left: 650px;
    z-index: 10;
  }
  
  
  
  .bg_img {
    width: 100%;
    height: 100vh;
  }
  
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
#comment{
    background-color:#141414;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#nam{
    background-color: rgb(37, 36, 36);
    width: 320px;
    color: #fff;
    height: 70px;
    border-radius: 15px;
    text-align: center;
}


#txt{
    background-color: rgb(37, 36, 36) ;
    color: #fff;
    width: 320px;
    border-radius: 15px;
    text-align: center;
}

#bt{
    background-color: #000;
    color: #fff;
    margin-left: 100px;
    border-radius: 10px;
    height: auto;
    width: 100px;
}


.text{
    font-weight: bold;
    margin: 0 0 15px 15px;
}

#comm{
  width: 10%;
  height: 105px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}